@font-face {
  font-family: 'lexend';
  src:  url('lib/static/Lexend-Regular.ttf'); 

}
@font-face {
  font-family: 'lexend';
  src:  url('lib/static/Lexend-SemiBold.ttf'); /* Safari, Android, iOS */
  font-weight: semibold; 

}
@font-face {
  font-family: 'lexend';
  src:  url('lib/static/Lexend-Medium.ttf'); /* Safari, Android, iOS */
  font-weight: 500; 

}
html,body{
  background-color: #000;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height:100vh;
  display: grid;
  font-family: 'lexend';
  color:white;
  z-index: 1;
}

.hatter{
/*  top: 0; */
  z-index: -1; 
}
.sarga{
  position: absolute;
  top:33vh;
  right:4vw;
  width:15vw;
  margin: 0;
/*  padding: 1vw;*/

}

#levelke{
  position: absolute;
  top:37.5vh;
  right:1.5vw;
  width:15vw;
  transform: rotate(-1deg);

}
#levelke:hover{
  animation-name: megraz;
/*  animation-delay: 3s;*/
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  z-index: 3;

}
#sargapici{
  position: absolute;
  top:40vh;
  right:12vw;
  width:8vw;
  margin: 0;
  padding: 1vw;

}
#sargapici:hover{
  animation-name: zizeg-b;
/*  animation-delay: 3s;*/
  animation-duration: 1s;
  animation-iteration-count: infinite;
  z-index: 3;

}
#piros{
  position: absolute;
  top:3vh;
  right:3vw;
  width:13vw;
  margin: 0;
  padding: 1vw;

}
#piros:hover{
  animation-name: dobban1;
  animation-duration: 0.7s;
/*  animation-iteration-count: 1;*/
  animation-iteration-count: infinite;
  z-index: 3;

}
#kek{
  position: absolute;
  top:58vh;
  right:18vw;
  height:8vw;
  margin: 0;
  padding: 1vw;

}
#kek:hover{
  animation-name: dobban;
  animation-duration: 1.3s;
/*  animation-iteration-count: 1;*/
  animation-iteration-count: infinite;
z-index: 3;

}
#fagyongy{
  position: absolute;
  bottom:5vh;
  right:25vw;
  width:8vw;
  margin: 0;
  padding: 1vw;

}
#fagyongy:hover{
  animation-name: zizeg;
/*  animation-delay: 3s;*/
  animation-duration: 1s;
  animation-iteration-count: infinite;
z-index: 3;

}
#lila{
  position: absolute;
  bottom:15vh;
  right:35vw;
  width:15vw;
  margin: 0;
  padding: 1vw;

}
#lila:hover{
  animation-name: megraz;
/*  animation-delay: 3s;*/
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  z-index: 3;

}
#pinki{
  position: absolute;
  top:26vh;
  right:22vw;
  width:16vw;
  margin: 0;
  padding: 1vw;

}
#pinki:hover{
  animation-name: raz;
/*  animation-delay: 1s;*/
  animation-duration: 1s;
  animation-iteration-count: infinite;
/*  animation-iteration-count: 1;*/
z-index: 3;

}
#pirossarga{
  position: absolute;
  top:6vh;
  right:32vw;
  width:6vw;
  margin: 0;
  padding: 1vw;

}
#pirossarga:hover{
  animation-name: megraz-b;
  animation-duration: 0.5s;
/*  animation-iteration-count: 1;*/
  animation-iteration-count: infinite;
z-index: 3;

}
#kispiros{
  position: absolute;
  bottom:5vh;
  right:54vw;
  width:6vw;
  margin: 0;
  padding: 1vw;
}
#kispiros:hover{
  animation-name: zizeg-b;
/*  animation-delay: 3s;*/
  animation-duration: 1s;
  animation-iteration-count: infinite;
  z-index: 3;

}
#egypont{
  position: absolute;
  top:25vh;
  right:3vw;
  width:0.5vw;
  margin: 0;
  padding: 1vw;
}

#egypont1{
  position: absolute;
  bottom:25vh;
  right:30vw;
  width:0.5vw;
  margin: 0;
  padding: 1vw;
  z-index: -3;
}
#ketpont{
  position: absolute;
  bottom:5vh;
  right:18vw;
  width:0.5vw;
  margin: 0;
  padding: 1vw;
  z-index: -3;
}
#ketpont1{
  position: absolute;
  top:20vh;
  right:22vw;
  width:0.5vw;
  margin: 0;
  padding: 1vw;
  z-index: -3;
  animation: kor 9s linear infinite;
}
#ketpont2{
  position: absolute;
  bottom:5vh;
  left:58vw;
/*  transform: rotate(110deg);*/

  width:0.5vw;
  margin: 0;
  padding: 1vw;
  z-index: -3;
  animation:korpici 7s linear infinite;
  animation-direction: alternate-reverse;
}
#kek2{
  position: absolute;
  bottom:5vh;
  left:25vw;
  width:10vw;
  margin: 0;
  padding: 1vw;
  z-index: -3;
}
#kek2:hover{
  animation-name: dobban;
  animation-duration: 1.3s;
/*  animation-iteration-count: 1;*/
  animation-iteration-count: infinite;
z-index: 3;

}
#piroska{
  position: absolute;
  top:40vh;
  left:20vw;
  width:22vw;
  margin: 0;
  padding: 1vw;
  z-index: -3;
}
#piroska:hover{
  animation-name: dobban;
  animation-duration: 1.3s;
/*  animation-iteration-count: 1;*/
  animation-iteration-count: infinite;
z-index: 3;

}
#fa{
  position: absolute;
  top:20vh;
  left:28vw;
  width:9vw;
  margin: 0;
  padding: 1vw;
/*  transition-delay: 3s;*/
  z-index: -3;
}
#fa:hover{
  animation-name: zizeg;
/*  animation-delay: 3s;*/
  animation-duration: 1s;
  animation-iteration-count: infinite;
z-index: 3;

}
#picilila{
  position: absolute;
  top:2vh;
  left:28vw;
  width:9vw;
  margin: 0;
  padding: 1vw;
  z-index: -3;
/*  transition-timing-function: ease-in-out;*/
/*  transition-delay: 3s;*/
}
#picilila:hover{
  animation-name: dobban;
  animation-duration: 1.3s;
/*  animation-iteration-count: 1;*/
  animation-iteration-count: infinite;
z-index: 3;

}
#pi{
  position: absolute;
  top:10vh;
  left:18vw;
  width:7vw;
  margin: 0;
  padding: 1vw;
  z-index: -3;
}
#pi:hover{
  animation-name: megraz;
/*  animation-delay: 3s;*/
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  z-index: 3;

}

.tuli{
/*  background:url("media/main/tulip.png");*/
  position: absolute;
  top:10vh;
  left:7vw;
  width:14vw;
  margin: 0;
/*  padding: 1vw;*/
  z-index: -3;
}
.tuli:hover{
/*  background:url("media/main/tulip.gif");
    top:10vh;
  left:7vw;
  width:14vw;
  margin: 0;
  z-index: 3;*/

}
.tulli{

}
.tulli:hover{
/*  background: media/main/tulip.gif;*/
}
#tulil{
  position: absolute;
  top:39vh;
  left:1.8vw;
  width:14vw;
  margin: 0;
/*  padding: 1vw;*/
  transform: rotate(-90deg);
/*  transform: scaleX(-1);*/
  z-index: -3;
}
#tulil2{
  position: absolute;
  top:34vh;
  left:14vw;
  width:14vw;
  margin: 0;
/*  transform: rotate(180deg);*/
/*  transform: scaleX(-1);*/

/*  padding: 1vw;*/
  z-index: -3;
}
#rozsaszin{
  position: absolute;
  bottom:31vh;
  left:4vw;
  width:9vw;
  margin: 0;
/*  padding: 1vw;*/
  z-index: -3;
}
#rozsaszin:hover{
  animation-name: dobban;
  animation-duration: 1.3s;
/*  animation-iteration-count: 1;*/
z-index: 3;
  animation-iteration-count: infinite;

}
#pan{
  position: absolute;
  bottom:7vh;
  left:4vw;
  width:17vw;
  margin: 0;
/*  padding: 1vw;*/
  z-index: -3;
}
#pan:hover{
  animation-name: zizeg-b;
/*  animation-delay: 3s;*/
  animation-duration: 1s;
  animation-iteration-count: infinite;
  z-index: 3;

}
#egypont-b{
  position: absolute;
  bottom:13vh;
  left:1vw;
  width:0.5vw;
  margin: 0;
  padding: 1vw;
  z-index: -3;
  animation-name: menet;
/*  animation: myOrbit 6s linear infinite;*/
/*  animation-delay: 3s;*/
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
/*#ketpont-b{
  position: absolute;
  bottom:20vh;
  left:14vw;
  width:0.5vw;
  transform: rotate(40deg);

  margin: 0;
  padding: 1vw;
  z-index: -3;
}*/
#egypont1-b{
  position: absolute;
  top:40vh;
  left:21vw;
  width:0.5vw;
  margin: 0;
  padding: 1vw;
  z-index: -3;
  animation:kor2 7s linear infinite;
  animation-delay: 7s;

}
#ketpont2-b{
  position: absolute;
  top:37vh;
  left:22vw;
  width:0.5vw;
  margin: 0;
  padding: 1vw;
  z-index: -3;
/*  transition: transform 9s;*/
  animation-name: menet2;
/*  animation: myOrbit 6s linear infinite;*/
/*  animation-delay: 3s;*/
  animation-duration: 7s;
  animation-iteration-count: infinite;
/*  z-index: 3;*/
 
}

/*@keyframes dobban {
  0%   {transform: scale(0.7)}

  100%  {transform: scale(1.2)}
}*/
@keyframes dobban {
  0%   {transform: scale(1)}
  50%  {transform: scale(1.2)}
  100%  {transform: scale(0.95)}
/*  100%  {transform: scale(1)}*/

}
@keyframes dobban1 {
  0%   {transform: scale(1)}
  50%  {transform: scale(1.1)}
  100%  {transform: scale(0.95)}
/*  100%  {transform: scale(1)}*/

}
/*@keyframes zizeg {
  0%   {transform: rotate(0deg);}

  100%  {transform: rotate(40deg);}
}*/
@keyframes zizeg {
  0%   {transform: rotate(0deg)}
  25%   {transform: rotate(5deg)}
  50%   {transform: rotate(-5deg)}
  75%   {transform: rotate(3deg)}
  100%  {transform: rotate(-3deg)}
}
@keyframes megraz {
  0%   {transform: rotate(0deg);}
  50%  {transform: rotate(5deg);}
  75%  {transform: rotate(-3deg);}
  100%  {transform: rotate(3deg);}
}
@keyframes megraz-b {
  0%   {transform: rotate(0deg);}
  50%  {transform: rotate(-5deg);}
  75%  {transform: rotate(3deg);}

  100%  {transform: rotate(-3deg);}
}
@keyframes zizeg-b {
  0%   {transform: rotate(0deg)}
  25%   {transform: rotate(-5deg)}
  50%   {transform: rotate(5deg)}
  75%   {transform: rotate(-3deg)}
  100%  {transform: rotate(3deg)}
}
/*@keyframes raz {
  0%   {transform: rotate(0deg)}

  100%  {transform: rotate(30deg)}
}*/
@keyframes raz {
  0%   {transform: rotate(0deg)}
  25%   {transform: rotate(5deg)}
  50%   {transform: rotate(-5deg)}
  75%   {transform: rotate(3deg)}
  100%  {transform: rotate(-3deg)}
}

/*@keyframes menet {
  0%   {}

  25%   {transform:translate(-10vw);}
  50%  {transform:translate(-10vh,-10vw);}
  75%  {transform:translate(10vh,10vw);}
  100%  {transform:translate(30vh,20vw);}
}*/
@keyframes menet2 {
/*   0%   {}*/
  0%  {transform:translate(0,-10vh);}
  50%  { transform: rotate(90deg) translateX(-20vh) rotate(-90deg); }
  75% { transform: rotate(0deg) translateX(-20vh) rotate(0deg); }
/*  90%{transform:translate(30vh,10vw);}*/
  100%  {transform:translate(0,-10vh);}
/*  { transform: rotate(0deg) translateX(100px) rotate(0deg); }*/

  }
@keyframes menet {
/*   0%   {}*/
  0%  {transform:translate(0,10vh);}
  20%  { transform: rotate(0deg) translateX(20vh) rotate(0deg); }
  80% { transform: rotate(-90deg) translateX(20vh) rotate(90deg); }
/*  90%{transform:translate(30vh,10vw);}*/
  100%  {transform:translate(0,0);}
/*  { transform: rotate(0deg) translateX(100px) rotate(0deg); }*/

  }
/* @keyframes kor{
       from { transform: rotate(0deg) translateX(100px) rotate(0deg); }
       to   { transform: rotate(360deg) translateX(100px) rotate(-360deg); }
 } */
  @keyframes kor{
      to { transform: rotate(0deg) translateX(100px) rotate(0deg); }
       from  { transform: rotate(360deg) translateX(100px) rotate(-360deg); }

 } 
  @keyframes kor2{
       0% { transform: rotate(0deg) translateX(100px) rotate(0deg); }
        50%   { transform: rotate(180deg) translateX(100px) rotate(-180deg); }
        100%   { transform: rotate(360deg) translateX(100px) rotate(-360deg); }
 } 
   @keyframes korpici{
       from { transform: rotate(0deg) translateX(50px) rotate(0deg); }
        to   { transform: rotate(180deg) translateX(50px) rotate(-180deg); }
 } 
.logo-con{
  position: fixed;
  margin:auto;
/*  display: grid;*/
}
.logo{
  margin-top:-3vh;
  margin-bottom: 5vh;
  width:10vw;
}
.menulogo{
/*  display: none;*/
}
.menu{
  margin:auto;
  display: inline-grid;
  cursor:pointer;
  text-align: center;
  z-index: 2;
  font-weight:semibold; 
  font-size: 1.1em;

    justify-content: center;
    align-items: center;
    display: inline-grid;
    cursor: pointer;
    text-align: center;
    /* z-index: 2; */
}
a{
  text-decoration: none;
  color:white;
}
.m-elem{
/*  padding-bottom: 3vh;*/
  padding-top:2vh;
  padding-bottom: 2vh;
  margin-bottom: 2px;
}
.m-elem:hover{
  border:2px solid white;
/*  padding:2px;*/
   border-radius: 25px;

}
.dev {
  /*position: relative;*/
  bottom:2vh;
  left:6vw;
/*  color:red;*/
  /*left: vw;*/
  font-size: 12px;
  position: absolute;
  /*padding-top: 2vh;*/
  /*z-index: -5;*/
}
.dev:hover{
/*  color:blue;*/
}
#deva{
/*  color: blue;*/
}
#deva:hover{
  color: pink;
}
#vonal{
  display: none;
}
#iksz{
  display: none;
}

.sor{
  position: absolute;
/*  right:5vw;*/
  bottom:5vh;
  z-index: 2;
}
.sor-elem{
/*  bottom:3vh;*/
  padding-right: 2vw;
  padding-left: 2vw;
  height:4vh;

}
/*@media only screen and (max-width:912px) and (max-height: 1368px){

}*/
@media only screen and (max-width:912px) and (max-height: 1368px)  and
(orientation: portrait){
  body,html{
    height:100vh;
  }
  .logo{
/*    display: none;*/
  }
  .menulogo{

  }
  #rozsaszin{
    display: none;
  }
  #pan{
    display: none;
  }
  #kek2{
    display: none;
  }
  .sarga{
    display: none;
  }  
  #piroska{
   display: none;
  }
  #piros{
   display: none;
  }
  #picilila{
    display: none;
  }
  #sargapici{
    display: none;
  }
 #fagyongy{
    display: none;
  }
 #kispiros{
    display: none;
  }  
 #lila{
    display: none;
  }    
   #pirossarga{
    position: fixed;
    top:25vh;
    right:15vw;
   width:25vw;
  }
  #pinki{
    position: fixed;
    top:23vh;
    width: 40vw;
    left:5vw;
  }
  #tulistill{
/*    background-color: blue;*/
    position: absolute;
    top:55vh;
    width: 50vw;
    left:45vw;
  }
 #kek{
    position: fixed;
    top:50vh;
    right:5vw;
    height: 10vh;

  }
 #pi{
   position: fixed;
   top:56vh;
   width: 20vw;
   left:23vw;

  }  
 #fa{
   position: fixed;
   left:5vw;

   width: 30vw;
   top:75vh;
transform: rotate(65deg);
  }  
    #egypont-b{
    width:3vw;
  } 
  #egypont1-b{
    width:3vw;

  }
  #ketpont2-b{
    width:3vw;

  }
  #ketpont1{
    width:3vw;

  }
    #ketpont2{
    width:3vw;
    
  }
  #vonal{
    display: grid;
    position: absolute;
    top:6vh;
    right:5vw;
    z-index: 0;
    height: 3vh;
    width:auto;
    cursor:pointer;
  }
  .m-elem {
    display:none;
  }
  .dev{
    position: fixed;
    bottom:2vh;
  }
  .menulogo{
    margin-bottom: 10vh;
  }
  .logo{
/*    margin-top:-37vh;*/
    width:30vw;
    margin-bottom: 10vh;
/*    margin:0;*/
  }
  #zar{
    display: hidden;
    position: absolute;
    top:4vh;
    right:2vw;
/*    z-index: 3;*/
}
.menu{
/*  display: hidden;*/
/*    position: fixed;*/
/*    bottom: 34vh;*/
    display: inline-grid;

    top:30vh;
    margin-top: 10vh;
    padding-left: 3vw;
    padding-right: 3vw;
    z-index: 3;
    font-size: 2em;

}
.sor{
   display: inline-flex;
    position: absolute;
    bottom:7vh;
    z-index: 3;
    width:100vw;
    height:5vh;

    justify-content:center;
    align-items:center;

}
.sor-elem{
  height:3vh;
  padding-right:8vw;
  padding-left: 8vw;
}

}
@media only screen and (max-width:900px) and (max-height: 896px){
  .logo{
    margin-top: -17vh;
   
  }
  .logo-mob{
    margin-top: 0;
    margin-bottom:0;
    top:5vh;
    width:15vw;
  }
  .menu{
    height:60vh;
  }
}
@media only screen and (max-width:896px) and (max-height: 414px) and
(orientation: landscape){
  .menu{
    position: relative;
    top:20vh;
    margin-top: -1vh;
  }

}
@media only screen and (max-width:820px) and (max-height: 1180px)  and
(orientation: portrait){
  body,html{
    height:100vh;
  }

  #rozsaszin{
    display: none;
  }
  #pan{
    display: none;
  }
  #kek2{
    display: none;
  }
  .sarga{
    display: none;
  }  
  #piroska{
   display: none;
  }
  #piros{
   display: none;
  }
  #picilila{
    display: none;
  }
  #sargapici{
    display: none;
  }
 #fagyongy{
    display: none;
  }
 #kispiros{
    display: none;
  }  
 #lila{
    display: none;
  }    
   #pirossarga{
    position: fixed;
    top:25vh;
    right:15vw;
   width:25vw;
  }
  #pinki{
    position: fixed;
    top:23vh;
    width: 40vw;
    left:5vw;
  }
  #tulistill{
/*    background-color: blue;*/
    position: absolute;
    top:55vh;
    width: 50vw;
    left:45vw;
  }
 #kek{
    position: fixed;
    top:50vh;
    right:5vw;
    height: 10vh;

  }
 #pi{
   position: fixed;
   top:56vh;
   width: 20vw;
   left:23vw;

  }  
 #fa{
   position: fixed;
   left:5vw;

   width: 30vw;
   top:75vh;
transform: rotate(65deg);
  }  
    #egypont-b{
    width:3vw;
  } 
  #egypont1-b{
    width:3vw;

  }
  #ketpont2-b{
    width:3vw;

  }
  #ketpont1{
    width:3vw;

  }
    #ketpont2{
    width:3vw;
    
  }
  #vonal{
    display: grid;
    position: absolute;
    top:6vh;
    right:5vw;
    z-index: 0;
    height: 3vh;
    width:auto;
    cursor:pointer;
  }
  .m-elem {
    display:none;
  }
  .dev{
    position: fixed;
    bottom:2vh;
  }
  .menulogo{
    margin-bottom: 10vh;
  }
  .logo{
/*    margin-top:-37vh;*/
    width:30vw;
    margin-bottom: 10vh;
/*    margin:0;*/
  }
  #zar{
    display: hidden;
    position: absolute;
    top:4vh;
    right:2vw;
/*    z-index: 3;*/
}
.menu{
/*  display: hidden;*/
/*    position: fixed;*/
/*    bottom: 34vh;*/
    top:30vh;
    margin-top: 10vh;
    padding-left: 3vw;
    padding-right: 3vw;
    z-index: 3;
    font-size: 2em;

}
.sor{
   display: inline-flex;
    position: absolute;
    bottom:7vh;
    z-index: 3;
    width:100vw;
    height:5vh;

    justify-content:center;
    align-items:center;

}
.sor-elem{
  height:3vh;
  padding-right:8vw;
  padding-left: 8vw;
}

}
@media only screen and (max-width:768px) and (max-height: 1024px)  and
(orientation: portrait){
  body,html{
    height:100vh;
  }

  #rozsaszin{
    display: none;
  }
  #pan{
    display: none;
  }
  #kek2{
    display: none;
  }
  .sarga{
    display: none;
  }  
  #piroska{
   display: none;
  }
  #piros{
   display: none;
  }
  #picilila{
    display: none;
  }
  #sargapici{
    display: none;
  }
 #fagyongy{
    display: none;
  }
 #kispiros{
    display: none;
  }  
 #lila{
    display: none;
  }    
   #pirossarga{
    position: fixed;
    top:25vh;
    right:15vw;
   width:25vw;
  }
  #pinki{
    position: fixed;
    top:23vh;
    width: 40vw;
    left:5vw;
  }
  #tulistill{
/*    background-color: blue;*/
    position: absolute;
    top:60vh;
    width: 40vw;
    left:45vw;
  }
 #kek{
    position: fixed;
    top:50vh;
    right:5vw;
    height: 10vh;

  }
 #pi{
   position: fixed;
   top:56vh;
   width: 20vw;
   left:23vw;

  }  
 #fa{
   position: fixed;
   left:5vw;

   width: 25vw;
   top:75vh;
transform: rotate(65deg);
  }  
    #egypont-b{
    width:3vw;
  } 
  #egypont1-b{
    width:3vw;

  }
  #ketpont2-b{
    width:3vw;

  }
  #ketpont1{
    width:3vw;

  }
    #ketpont2{
    width:3vw;
    
  }
  #vonal{
    display: grid;
    position: absolute;
    top:6vh;
    right:5vw;
    z-index: 0;
    height: 3vh;
    width:auto;
    cursor:pointer;
  }
  .m-elem {
    display:none;
  }
  .dev{
    position: fixed;
    bottom:2vh;
  }
  .menulogo{
    margin-bottom: 10vh;
  }
  .logo{
/*    margin-top:-37vh;*/
    width:30vw;
    margin-bottom: 10vh;
/*    margin:0;*/
  }
  #zar{
    display: hidden;
    position: absolute;
    top:4vh;
    right:2vw;
/*    z-index: 3;*/
}
.menu{
/*  display: hidden;*/
/*    position: fixed;*/
/*    bottom: 34vh;*/
    top:30vh;
    margin-top: 10vh;
    padding-left: 3vw;
    padding-right: 3vw;
    z-index: 3;
    font-size: 2em;

}
.sor{
   display: inline-flex;
    position: absolute;
    bottom:7vh;
    z-index: 3;
    width:100vw;
    height:5vh;

    justify-content:center;
    align-items:center;

}
.sor-elem{
  height:3vh;
  padding-right:8vw;
  padding-left: 8vw;
}

}
@media only screen and (max-width:720px) and (max-height: 540px) and
(orientation: landscape){
  .menu{
    position: relative;
    top:20vh;
    margin-top: -1vh;
  }

}
@media only screen and (max-width:667px) and (max-height: 375px) and
(orientation: landscape){
  .menu{
    position: relative;
    top:20vh;
    margin-top: -1vh;
  }

}
@media only screen and (max-width:568px) and (max-height: 320px) and
(orientation: landscape){
  .menu{
    position: relative;
    top:20vh;
    margin-top: -1vh;
  }

}
@media only screen and (max-width:540px) and (max-height: 720px) and
(orientation: portrait){
  body,html{
    height:100vh;
  }

  #rozsaszin{
    display: none;
  }
  #pan{
    display: none;
  }
  #kek2{
    display: none;
  }
  .sarga{
    display: none;
  }  
  #piroska{
   display: none;
  }
  #piros{
   display: none;
  }
  #picilila{
    display: none;
  }
  #sargapici{
    display: none;
  }
 #fagyongy{
    display: none;
  }
 #kispiros{
    display: none;
  }  
 #lila{
    display: none;
  }    
   #pirossarga{
    position: fixed;
    top:15vh;
    right:5vw;
    width:20vw;
  }
  #pinki{
    position: fixed;
    top:10vh;
    width: 30vw;
    left:5vw;
  }
  #tulistill{
/*    background-color: blue;*/
    position: absolute;
    top:60vh;
    width: 40vw;
    left:45vw;
  }
 #kek{
    position: fixed;
    top:40vh;
    right:8vw;
    height: 20vh;

  }
 #pi{
   position: fixed;
   top:45vh;
   width: 25vw;
   left:7vw;

  }  
 #fa{
   position: fixed;
   left:5vw;

   width: 30vw;
   top:69vh;
/*transform: rotate(65deg);*/
  }  
    #egypont-b{
    width:3vw;
  } 
  #egypont1-b{
    width:3vw;

  }
  #ketpont2-b{
    width:3vw;

  }
  #ketpont1{
    width:3vw;

  }
    #ketpont2{
    width:3vw;
    
  }
  #vonal{
    display: grid;
    position: absolute;
    top:6vh;
    right:5vw;
    z-index: 0;
    height: 3vh;
    width:auto;
    cursor:pointer;
  }
  .m-elem {
    display:none;
  }
  .dev{
    position: fixed;
    bottom:2vh;
  }
  .logo{
    margin-top:-10vh;
    width:30vw;
/*    margin-bottom: 10vh;*/
/*    margin:0;*/
  }
  .menulogo{
    margin-bottom:0;

/*    margin-bottom:10vh;*/
  }
  #zar{
    display: hidden;
    position: absolute;
    top:4vh;
    right:2vw;
/*    z-index: 3;*/
}
.menu{
/*  display: hidden;*/
/*    position: fixed;*/
/*    bottom: 34vh;*/
    position: relative;
    height: 80vh;
/*    padding-top: 10vh;*/
    top:5vh;
    margin-top: -1vh;
    padding-left: 3vw;
    padding-right: 3vw;
    z-index: 3;
    font-size: 1.4em;
}
.sor{
   display: inline-flex;
    position: absolute;
    bottom:7vh;
    z-index: 3;
    width:100vw;
    height:5vh;

    justify-content:center;
    align-items:center;

}
.sor-elem{
  height:3vh;
  padding-right:8vw;
  padding-left: 8vw;
}

}
@media only screen and (max-width:414px) and (max-height: 896px)  and
(orientation: portrait){
  body,html{
    height:100vh;
  }

  #rozsaszin{
    display: none;
  }
  #pan{
    display: none;
  }
  #kek2{
    display: none;
  }
  .sarga{
    display: none;
  }  
  #piroska{
   display: none;
  }
  #piros{
   display: none;
  }
  #picilila{
    display: none;
  }
  #sargapici{
    display: none;
  }
 #fagyongy{
    display: none;
  }
 #kispiros{
    display: none;
  }  
 #lila{
    display: none;
  }    
   #pirossarga{
    position: fixed;
    top:20vh;
    right:5vw;
   width:25vw;
  }
  #pinki{
    position: fixed;
    top:30vh;
    width: 40vw;
    left:5vw;
  }
  #tulistill{
/*    background-color: blue;*/
    position: absolute;
    top:65vh;
    width: 50vw;
    left:45vw;
  }
 #kek{
    position: fixed;
    top:50vh;
    right:5vw;
    height: 10vh;

  }
 #pi{
   position: fixed;
   top:60vh;
   width: 20vw;
   left:10vw;

  }  
 #fa{
   position: fixed;
   left:5vw;

   width: 30vw;
   top:75vh;
transform: rotate(65deg);
  }  
    #egypont-b{
    width:3vw;
  } 
  #egypont1-b{
    width:3vw;

  }
  #ketpont2-b{
    width:3vw;

  }
  #ketpont1{
    width:3vw;

  }
    #ketpont2{
    width:3vw;
    
  }
  #vonal{
    display: grid;
    position: absolute;
    top:6vh;
    right:5vw;
    z-index: 0;
    height: 3vh;
    width:auto;
    cursor:pointer;
  }
  .m-elem {
    display:none;
  }
  .dev{
    position: fixed;
    bottom:2vh;
  }

  .logo{
    margin-top:-37vh;
    width:30vw;
    margin-bottom: 0;
/*    margin:0;*/
  }
  #zar{
    display: hidden;
    position: absolute;
    top:4vh;
    right:2vw;
/*    z-index: 3;*/
}
.menu{
/*  display: hidden;*/
/*    position: fixed;*/
/*    bottom: 34vh;*/
    height:70vh;
    top:30vh;
/*    padding-top:10vh;*/
    padding-left: 3vw;
    padding-right: 3vw;
    z-index: 3;
    font-size: 1.4em;

}
.sor{
   display: inline-flex;
    position: absolute;
    bottom:4vh;
    z-index: 3;
    width:100vw;
    height:10vh;

    justify-content:center;
    align-items:center;

}
.sor-elem{
  height:3vh;
  padding-right:8vw;
  padding-left: 8vw;
}

}
@media only screen and (max-width: 412px) and (max-height: 915px) and
(orientation: portrait){
html,body{
  position: relative;
  height: 100vh;
  overflow:hidden;

}
  #rozsaszin{
    display: none;
  }
  #pan{
    display: none;
  }
  #kek2{
    display: none;
  }
  .sarga{
    display: none;
  }  
  #piroska{
   display: none;
  }
  #piros{
   display: none;
  }
  #picilila{
    display: none;
  }
  #sargapici{
    display: none;
  }
 #fagyongy{
    display: none;
  }
 #kispiros{
    display: none;
  }  
 #lila{
    display: none;
  }    
   #pirossarga{
    position: fixed;
    top:20vh;
    right:10vw;
   width:20vw;
  }
  #pinki{
    position: fixed;
    top:25vh;
    width: 44vw;
    left:5vw;
  }
  #tulistill{
    position: fixed;
    top:60vh;
    width: 50vw;
    left:44vw;
  }
 #kek{
    position: fixed;
    top:43vh;
    right:10vw;
    height: 15vh;

  }
 #pi{
   position: fixed;
   top:50vh;
   width: 20vw;
   left:10vw;

  }  
 #fa{
   position: fixed;
   left:5vw;

   width: 28vw;
   top:70vh;
/*    transform: rotate(65deg);*/
  }   
  #egypont-b{
    width:3vw;
  } 
  #egypont1-b{
    width:3vw;

  }
  #ketpont2-b{
    width:3vw;

  }
  #ketpont1{
    width:3vw;

  }
    #ketpont2{
    width:3vw;
    
  }
  .m-elem {
    display:none;
  }
  .dev{
    bottom:2vh;
  }


  #vonal{
    display: grid;
    position: absolute;
    top:6vh;
    height: 3vh;
    right:3vw;
    z-index: 0;
    cursor:pointer;
  }
  #zar{
    display: hidden;
    position: absolute;
    top:4vh;
    right:2vw;
/*    z-index: 3;*/
}
.menu{
/*  display: hidden;*/
/*   display: inline-flex;*/
    position: relative;
    top:15vh;
    margin-top: -1vh;
    height:60vh;
/*    bottom: 4vh;*/
    padding-left: 3vw;
    padding-right: 3vw;
    z-index: 3;
    font-size: 1.4em;
}
.menulogo{
  display: inline-grid;
  margin-bottom: 0;

}

  #hovi{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: -20vh;
    width:34vw;
    top:2vh;
    position: relative;
}

.sor{
   display: inline-flex;
    position: absolute;
    bottom:7vh;
    z-index: 3;
    width:100vw;
    height:5vh;

    justify-content:center;
    align-items:center;

}
.sor-elem{
  height:3vh;
  padding-right:8vw;
  padding-left: 8vw;
}


}

@media only screen and (max-width: 412px) and (max-height: 914px) and
(orientation: portrait){
html,body{
  position: relative;
  height: 100vh;
  overflow:hidden;

}
  #rozsaszin{
    display: none;
  }
  #pan{
    display: none;
  }
  #kek2{
    display: none;
  }
  .sarga{
    display: none;
  }  
  #piroska{
   display: none;
  }
  #piros{
   display: none;
  }
  #picilila{
    display: none;
  }
  #sargapici{
    display: none;
  }
 #fagyongy{
    display: none;
  }
 #kispiros{
    display: none;
  }  
 #lila{
    display: none;
  }    
   #pirossarga{
    position: fixed;
    top:20vh;
    right:10vw;
   width:20vw;
  }
  #pinki{
    position: fixed;
    top:25vh;
    width: 44vw;
    left:5vw;
  }
  #tulistill{
    position: fixed;
    top:60vh;
    width: 50vw;
    left:44vw;
  }
 #kek{
    position: fixed;
    top:43vh;
    right:10vw;
    height: 15vh;

  }
 #pi{
   position: fixed;
   top:60vh;
   width: 20vw;
   left:10vw;

  }  
 #fa{
   position: fixed;
   left:5vw;

   width: 28vw;
   top:70vh;
/*    transform: rotate(65deg);*/
  }   
  #egypont-b{
    width:3vw;
  } 
  #egypont1-b{
    width:3vw;

  }
  #ketpont2-b{
    width:3vw;

  }
  #ketpont1{
    width:3vw;

  }
    #ketpont2{
    width:3vw;
    
  }
  .m-elem {
    display:none;
  }
  .dev{
    bottom:2vh;
  }


  #vonal{
    display: grid;
    position: absolute;
    top:6vh;
    height: 3vh;
    right:3vw;
    z-index: 0;
    cursor:pointer;
  }
  #zar{
    display: hidden;
    position: absolute;
    top:4vh;
    right:2vw;
/*    z-index: 3;*/
}
.menu{
/*  display: hidden;*/
/*   display: inline-flex;*/
    position: relative;
    top:5vh;
    height:80vh;
    margin-top: -1vh;
/*    bottom: 4vh;*/
    padding-left: 3vw;
    padding-right: 3vw;
    z-index: 3;
    font-size: 1.3em;
}
.menulogo{

}
#hovi{
/*  margin-top: -37vh;*/
}
  .logo{
    display:flex;
    justify-content:center;
    align-items:center;
/*    margin-top: -10vh;*/
    width:34vw;
    top:2vh;
    position: relative;
}

.sor{
   display: inline-flex;
    position: absolute;
    bottom:7vh;
    z-index: 3;
    width:100vw;
    height:5vh;

    justify-content:center;
    align-items:center;

}
.sor-elem{
  height:3vh;
  padding-right:8vw;
  padding-left: 8vw;
}


}
@media only screen and (max-width: 393px) and (max-height: 851px) and
(orientation: portrait){
html,body{
  position: relative;
  height: 100vh;
  overflow:hidden;

}
  #rozsaszin{
    display: none;
  }
  #pan{
    display: none;
  }
  #kek2{
    display: none;
  }
  .sarga{
    display: none;
  }  
  #piroska{
   display: none;
  }
  #piros{
   display: none;
  }
  #picilila{
    display: none;
  }
  #sargapici{
    display: none;
  }
 #fagyongy{
    display: none;
  }
 #kispiros{
    display: none;
  }  
 #lila{
    display: none;
  }    
   #pirossarga{
    position: fixed;
    top:20vh;
    right:10vw;
   width:20vw;
  }
  #pinki{
    position: fixed;
    top:25vh;
    width: 44vw;
    left:5vw;
  }
  #tulistill{
    position: fixed;
    top:60vh;
    width: 50vw;
    left:44vw;
  }
 #kek{
    position: fixed;
    top:43vh;
    right:10vw;
    height: 15vh;

  }
 #pi{
   position: fixed;
   top:55vh;
   width: 20vw;
   left:10vw;

  }  
 #fa{
   position: fixed;
   left:5vw;

   width: 28vw;
   top:75vh;
/*    transform: rotate(65deg);*/
  }   
  #egypont-b{
    width:3vw;
  } 
  #egypont1-b{
    width:3vw;

  }
  #ketpont2-b{
    width:3vw;

  }
  #ketpont1{
    width:3vw;

  }
    #ketpont2{
    width:3vw;
    
  }
  .m-elem {
    display:none;
  }
  .dev{
    bottom:2vh;
  }


  #vonal{
    display: grid;
    position: absolute;
    top:6vh;
    height: 3vh;
    right:3vw;
    z-index: 0;
    cursor:pointer;
  }
  #zar{
    display: hidden;
    position: absolute;
    top:4vh;
    right:2vw;
/*    z-index: 3;*/
}
.menu{
/*  display: hidden;*/
/*   display: inline-flex;*/
position: relative;
  top:5vh;
/*    bottom: 4vh;*/
    margin-top: -1vh;
    padding-left: 3vw;
    padding-right: 3vw;
    z-index: 3;
    font-size: 1.3em;
}
.menulogo{

}
#hovi{
/*  margin-top: -37vh;*/
}
  .logo{
    display:flex;
    justify-content:center;
    align-items:center;
    padding-bottom:10vh;
    width:34vw;
    top:2vh;
    position: relative;
}

.sor{
   display: inline-flex;
    position: absolute;
    bottom:7vh;
    z-index: 3;
    width:100vw;
    height:5vh;

    justify-content:center;
    align-items:center;

}
.sor-elem{
  height:3vh;
  padding-right:8vw;
  padding-left: 8vw;
}


}
@media only screen and (max-width: 390px) and (max-height: 844px) and
(orientation: portrait){
html,body{
  position: relative;
  height: 100vh;
  overflow:hidden;

}
  #rozsaszin{
    display: none;
  }
  #pan{
    display: none;
  }
  #kek2{
    display: none;
  }
  .sarga{
    display: none;
  }  
  #piroska{
   display: none;
  }
  #piros{
   display: none;
  }
  #picilila{
    display: none;
  }
  #sargapici{
    display: none;
  }
 #fagyongy{
    display: none;
  }
 #kispiros{
    display: none;
  }  
 #lila{
    display: none;
  }    
   #pirossarga{
    position: fixed;
    top:20vh;
    right:10vw;
   width:20vw;
  }
  #pinki{
    position: fixed;
    top:25vh;
    width: 44vw;
    left:5vw;
  }
  #tulistill{
    position: fixed;
    top:60vh;
    width: 50vw;
    left:44vw;
  }
 #kek{
    position: fixed;
    top:43vh;
    right:10vw;
    height: 15vh;

  }
 #pi{
   position: fixed;
   top:60vh;
   width: 20vw;
   left:10vw;

  }  
 #fa{
   position: fixed;
   left:5vw;

   width: 28vw;
   top:75vh;
/*    transform: rotate(65deg);*/
  }   
  #egypont-b{
    width:3vw;
  } 
  #egypont1-b{
    width:3vw;

  }
  #ketpont2-b{
    width:3vw;

  }
  #ketpont1{
    width:3vw;

  }
    #ketpont2{
    width:3vw;
    
  }
  .m-elem {
    display:none;
  }
  .dev{
    bottom:2vh;
  }


  #vonal{
    display: grid;
    position: absolute;
    top:6vh;
    height: 3vh;
    right:3vw;
    z-index: 0;
    cursor:pointer;
  }
  #zar{
    display: hidden;
    position: absolute;
    top:4vh;
    right:2vw;
/*    z-index: 3;*/
}
.menu{
/*  display: hidden;*/
/*   display: inline-flex;*/
position: relative;
  top:5vh;
/*    bottom: 4vh;*/
    margin-top: -1vh;
    padding-left: 3vw;
    padding-right: 3vw;
    z-index: 3;
    font-size: 1.3em;
}
.menulogo{

}
#hovi{
/*  margin-top: -37vh;*/
}
  .logo{
    display:flex;
    justify-content:center;
    align-items:center;
    padding-bottom:10vh;
    width:34vw;
    top:2vh;
    position: relative;
}

.sor{
   display: inline-flex;
    position: absolute;
    bottom:7vh;
    z-index: 3;
    width:100vw;
    height:5vh;

    justify-content:center;
    align-items:center;

}
.sor-elem{
  height:3vh;
  padding-right:8vw;
  padding-left: 8vw;
}


}
@media only screen and (max-width: 375px) and (max-height: 667px) and
(orientation: portrait){
html,body{
  position: relative;
  height: 100vh;
  overflow:hidden;

}
  #rozsaszin{
    display: none;
  }
  #pan{
    display: none;
  }
  #kek2{
    display: none;
  }
  .sarga{
    display: none;
  }  
  #piroska{
   display: none;
  }
  #piros{
   display: none;
  }
  #picilila{
    display: none;
  }
  #sargapici{
    display: none;
  }
 #fagyongy{
    display: none;
  }
 #kispiros{
    display: none;
  }  
 #lila{
    display: none;
  }    
   #pirossarga{
    position: fixed;
    top:20vh;
    right:10vw;
   width:20vw;
  }
  #pinki{
    position: fixed;
    top:27vh;
    width: 40vw;
    left:5vw;
  }
  #tulistill{
    position: fixed;
    top:50vh;
    width: 50vw;
    left:40vw;
  }
 #kek{
    position: fixed;
    top:40vh;
    right:5vw;
    height: 15vh;

  }
 #pi{
   position: fixed;
   top:60vh;
   width: 20vw;
   left:20vw;

  }  
 #fa{
   position: fixed;
   left:5vw;

   width: 28vw;
   top:75vh;
/*    transform: rotate(65deg);*/
  }   
  #egypont-b{
    width:3vw;
  } 
  #egypont1-b{
    width:3vw;

  }
  #ketpont2-b{
    width:3vw;

  }
  #ketpont1{
    width:3vw;

  }
    #ketpont2{
    width:3vw;
    
  }
  .m-elem {
    display:none;
  }
  .dev{
    bottom:2vh;
  }


  #vonal{
    display: grid;
    position: absolute;
    top:6vh;
    right:2vw;
    z-index: 0;
    cursor:pointer;
  }
  #zar{
    display: hidden;
    position: absolute;
    top:4vh;
    right:2vw;
/*    z-index: 3;*/
}
.menu{
/*  display: hidden;*/
/*   display: inline-flex;*/
/*    padding-top: 0;*/
    position: relative;
    top:5vh;
    height:80vh;
/*    bottom: 4vh;*/
    margin-top: -1vh;
    padding-left: 3vw;
    padding-right: 3vw;
    z-index: 3;
    font-size: 1.2em;
}
.menulogo{
    display: inline-grid;

  margin-bottom: 0;
}

  #hovi{
    margin-bottom: 0;
/*    display:flex;
    justify-content:center;
    align-items:center;
    width:34vw;
    position: relative;*/
/*    margin-bottom: 5vh;*/
/*    margin-top:-22vh;*/
}

.sor{
   display: inline-flex;
    position: absolute;
    bottom:7vh;
    z-index: 3;
    width:100vw;
    height:5vh;

    justify-content:center;
    align-items:center;

}
.sor-elem{
  height:3vh;
  padding-right:8vw;
  padding-left: 8vw;
}


}

@media only screen and (max-width:360px) and (max-height: 740px) and
(orientation: portrait){
  body,html{
    height:100vh;
  }

  #rozsaszin{
    display: none;
  }
  #pan{
    display: none;
  }
  #kek2{
    display: none;
  }
  .sarga{
    display: none;
  }  
  #piroska{
   display: none;
  }
  #piros{
   display: none;
  }
  #picilila{
    display: none;
  }
  #sargapici{
    display: none;
  }
 #fagyongy{
    display: none;
  }
 #kispiros{
    display: none;
  }  
 #lila{
    display: none;
  }    
#pirossarga{
    position: fixed;
    top:30vh;
    right:15vw;
   width:20vw;
  }
  #pinki{
    position: fixed;
    top:25vh;
    width: 38vw;
    left:5vw;
  }
  #tulistill{
/*    background-color: blue;*/
    position: absolute;
    top:60vh;
    width: 50vw;
    left:45vw;
  }
 #kek{
    position: fixed;
    top:50vh;
    right:12vw;
    height: 10vh;

  }
 #pi{
   position: fixed;
   top:52vh;
   width: 20vw;
   left:17vw;

  }  
 #fa{
   position: fixed;
   left:5vw;

   width: 30vw;
   top:70vh;
/*   transform: rotate(65deg);*/
  }  
    #egypont-b{
    width:3vw;
  } 
  #egypont1-b{
    width:3vw;

  }
  #ketpont2-b{
    width:3vw;

  }
  #ketpont1{
    width:3vw;

  }
    #ketpont2{
    width:3vw;
    
  }
  #vonal{
    display: grid;
    position: absolute;
    top:6vh;
    right:5vw;
    z-index: 5;
    cursor:pointer;
  }
  .m-elem {
    display:none;
  }
  .dev{
    position: fixed;
    bottom:2vh;
  }

  #hovi{
/*    margin-top: 10vh;*/
/*    margin:0;*/
  }
  .menulogo{
    margin-bottom:5vh;
/*    margin-bottom: 0;*/
  }
  #zar{
    display: hidden;
    position: absolute;
    top:4vh;
    right:2vw;
    z-index: 6;
}
.menu{

/*  display: none;*/
/*    position: fixed;*/
/*    bottom: 34vh;*/
/*    padding-top: 10vh;*/
/*    margin-top: 10vh;*/
    position: relative;
    height:80vh;
    margin-top: -1vh;
/*    top:10vh;*/
/*    bottom:10vh;*/
    padding-left: 3vw;
    padding-right: 3vw;
    z-index: 3;
}
.sor{
   display: inline-flex;
    position: absolute;
    bottom:7vh;
    z-index: 3;
    width:100vw;
    height:5vh;

    justify-content:center;
    align-items:center;

}
.sor-elem{
  height:3vh;
  padding-right:8vw;
  padding-left: 8vw;
}

}
@media only screen and (max-width:320px) and (max-height: 568px)  and
(orientation: portrait){
  body,html{
    height:100vh;
  }

  #rozsaszin{
    display: none;
  }
  #pan{
    display: none;
  }
  #kek2{
    display: none;
  }
  .sarga{
    display: none;
  }  
  #piroska{
   display: none;
  }
  #piros{
   display: none;
  }
  #picilila{
    display: none;
  }
  #sargapici{
    display: none;
  }
 #fagyongy{
    display: none;
  }
 #kispiros{
    display: none;
  }  
 #lila{
    display: none;
  }    
   #pirossarga{
    position: fixed;
    top:15vh;
    right:10vw;
   width:20vw;
  }
  #pinki{
    position: fixed;
    top:30vh;
    width: 33vw;
    left:5vw;
  }
  #tulistill{
/*    background-color: blue;*/
    position: absolute;
    top:48vh;
    width: 50vw;
    left:45vw;
  }
 #kek{
    position: fixed;
    top:40vh;
    right:5vw;
    height: 10vh;

  }
 #pi{
   position: fixed;
   top:55vh;
   width: 20vw;
   left:15vw;

  }  
 #fa{
   position: fixed;
   left:5vw;

   width: 30vw;
   top:75vh;
transform: rotate(65deg);
  }  
    #egypont-b{
    width:3vw;
  } 
  #egypont1-b{
    width:3vw;

  }
  #ketpont2-b{
    width:3vw;

  }
  #ketpont1{
    width:3vw;

  }
    #ketpont2{
    width:3vw;
    
  }
  #vonal{
    display: grid;
    position: absolute;
    top:6vh;
    right:5vw;
    z-index: 5;
    cursor:pointer;
  }
  .m-elem {
    display:none;
  }
  .dev{
    position: fixed;
    bottom:1vh;
  }


  #zar{
    display: hidden;
    position: absolute;
    top:4vh;
    right:2vw;
    z-index: 6;
}
.menu{


    position:relative;
    margin-top: -1;
    top:5vh;
    padding-top: 0;
    height: 80vh;
    padding-left: 3vw;
    padding-right: 3vw;
    z-index: 3;
    font-size: 1em;
}
  .menulogo{
    display: inline-grid;

    margin-bottom: 0;
  }
    #hovi{

    margin-bottom: 0;


  }
.sor{
   display: inline-flex;
    position: absolute;
    bottom:7vh;
    z-index: 3;
    width:100vw;
    height:5vh;

    justify-content:center;
    align-items:center;

}
.sor-elem{
  height:3vh;
  padding-right:4vw;
  padding-left: 4vw;
}

}
@media only screen and (max-width:280px) and (max-height: 653px)  and
(orientation: portrait){
  body,html{
    height:100vh;
  }

  #rozsaszin{
    display: none;
  }
  #pan{
    display: none;
  }
  #kek2{
    display: none;
  }
  .sarga{
    display: none;
  }  
  #piroska{
   display: none;
  }
  #piros{
   display: none;
  }
  #picilila{
    display: none;
  }
  #sargapici{
    display: none;
  }
 #fagyongy{
    display: none;
  }
 #kispiros{
    display: none;
  }  
 #lila{
    display: none;
  }    
   #pirossarga{
    position: fixed;
    top:20vh;
    right:6vw;
   width:25vw;
  }
  #pinki{
    position: fixed;
    top:25vh;
    width: 43vw;
    left:5vw;
  }
  #tulistill{
/*    background-color: blue;*/
    position: absolute;
    top:58vh;
    width: 62vw;
    left:37vw;
  }
 #kek{
    position: fixed;
    top:43vh;
    right:5vw;
    height: 13vh;

  }
 #pi{
   position: fixed;
   top:55vh;
   width: 20vw;
   left:15vw;

  }  
 #fa{
   position: fixed;
   left:5vw;

   width: 33vw;
   top:75vh;
   transform: rotate(65deg);
  }  
    #egypont-b{
    width:3vw;
  } 
  #egypont1-b{
    width:3vw;

  }
  #ketpont2-b{
    width:3vw;

  }
  #ketpont1{
    width:3vw;

  }
    #ketpont2{
    width:3vw;
    
  }
  #vonal{
    display: grid;
    position: absolute;
    top:6vh;
    right:5vw;
    z-index: 5;
    cursor:pointer;
  }
  .m-elem {
    display:none;
  }
  .dev{
    position: fixed;
    bottom:1vh;
  }

  .logo{

/*    margin:0;*/
  }
  #zar{
    display: hidden;
    position: absolute;
    top:4vh;
    right:2vw;
    z-index: 6;
}
.menu{

/*  display: hidden;*/
/*    position: fixed;*/
/*    bottom: 34vh;*/
    position: relative;
    height:80vh;
    top:5vh;
    margin-top: -1vh;
    padding-left: 3vw;
    padding-right: 3vw;
    z-index: 3;
    font-size: 1em;
}
.sor{
   display: inline-flex;
    position: absolute;
    bottom:7vh;
    z-index: 3;
    width:100vw;
    height:5vh;

    justify-content:center;
    align-items:center;

}
.sor-elem{
  height:3vh;
  padding-right:4vw;
  padding-left: 4vw;
}

}